[Unit]
Description=changes hyprland to the main profile
Conflicts=hyprlock.service
Before=hyprlock.service

[Service]
Type=oneshot
ExecStart=/bin/ln -sf %E/hypr/hyprland.conf.main %E/hypr/hyprland.conf
ExecStartPost= /bin/sh -c "(pgrep -x Hyprland && /usr/bin/hyprctl reload) || :}"
RemainAfterExit=yes

[Install]
WantedBy=default.target
