[Unit]
Description=changes hyprland to the lock screen profile
Conflicts=hyprunlock.service
Before=hyprunlock.service

[Service]
Type=oneshot
ExecStart=/bin/ln -sf /home/magni/.config/hypr/hyprland.conf.lock /home/magni/.config/hypr/hyprland.conf
ExecStartPost= /bin/sh -c "pgrep -x Hyprland && /usr/bin/hyprctl reload"
RemainAfterExit=yes

[Install]
WantedBy=default.target
