/*
!/.gitignore
!/.config/
/.config/*
!/.dotbak
!/.local/
/.local/*
!/Documents/
/Documents/*
!/Templates
!/.config/atuin
!/.config/brave-flags.conf
!/.config/captive-browser.toml
!/.config/dconf
!/.config/dunst
!/.config/environment.d
!/.config/gtk-3.0/
/.config/gtk-3.0/*
!/.config/gtk-4.0/
/.config/gtk-4.0/*
!/.config/hk
!/.config/hypr
!/.config/kitty
!/.config/metapac
!/.config/micro/
/.config/micro/*
!/.config/mise/
/.config/mise/*
!/.config/nautilus
!/.config/quickshell
!/.config/rofi
!/.config/swaync
!/.config/sys64
!/.config/systemd
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
!/.config/uwsm
!/.config/vicinae
!/.config/waybar
!/.local/bin
!/.local/share/
/.local/share/*
!/Documents/Appimages/
/Documents/Appimages/*
!/.config/gtk-3.0/settings.ini
!/.config/gtk-4.0/settings.ini
!/.config/micro/colorschemes
!/.config/micro/settings.json
!/.config/mise/config.toml
!/.local/share/applications
!/.local/share/dbus-1/
/.local/share/dbus-1/*
!/.local/share/icons/
/.local/share/icons/*
!/Documents/Appimages/update_appimages.sh
!/.local/share/dbus-1/services/
/.local/share/dbus-1/services/*
!/.local/share/icons/Adwaita
!/.local/share/icons/rose-pine-hyprcursor
!/.local/share/dbus-1/services/org.freedesktop.Notifications.service
/.cache/dotbak/
