[submodule "managed/config/quickshell/common/modules/rounded-polygon-qmljs"]
	path = managed/config/quickshell/common/modules/rounded-polygon-qmljs
	url = https://github.com/end-4/rounded-polygon-qmljs.git
[submodule "managed/config/quickshell/common/modules/QmlMaterial"]
	path = managed/config/quickshell/common/modules/QmlMaterial
	url = https://github.com/hypengw/QmlMaterial
