$xbg: #1E1E2E;
$xfg: #CDD6F4;
$x0: #45475A;
$x1: #F38BA8;
$x2: #A6E3A1;
$x3: #F9E2AF;
$x4: #89B4FA;
$x5: #F5C2E7;
$x6: #94E2D5;
$x7: #BAC2DE;
$x8: #585B70;
$x9: #DE2B2B;
$x10: #A6E3A1;
$x11: #F9E2AF;
$x12: #89B4FA;
$x13: #F38BA8;
$x14: #94E2D5;
$x15: #A6ADC8;
