@import "mocha.css";

* {
	font-family: JetBrainsMono Nerd Font Propo;
	box-shadow: none;
	border: none;
}

window#waybar {
	background: transparent;
}

#workspaces {
	padding: 0px;
	margin: 0px;
	background-color: @base;
	margin: 5px 0px 0px 0px;
	border-radius: 2rem;
}


#workspaces button {
	color: @subtext0;
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
	background-color: transparent;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: inherit;
}

#workspaces button.active {
	background: none;
	background-color: @surface1;
	color: @mauve;
}

#workspaces button:hover {
	background: inherit;
	background-color: @surface0;
	box-shadow: inherit;
	text-shadow: inherit;
}

#mpris,
#tray,
#network,
#idle_inhibitor,
#backlight,
#battery,
#wireplumber {
	background-color: @base;
	margin: 5px 1px 0px 1px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 2rem;
}


#clock {
	background-color: @base;
	margin: 5px 7px 0px 1px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 2rem;
}

#custom-archicon {
	background-color: @base;
	margin: 5px 1px 0px 7px;
	padding-left: 1px;
	padding-right: 1px;
	border-radius: 2rem;
}

#custom-archicon,
#mpris {
	color: @text;
}

#idle_inhibitor.activated {
	color: @lavander;
}

#idle_inhibitor.deactivated {
	color: @subtext0;
}

#clock {
	color: @lavender;
}

#battery {
	color: @green;
}

#battery.charging {
	color: @green;
}

#battery.critical:not(.charging) {
	color: @red;
}

#network {
	color: @flamingo;
}

#backlight {
	color: @yellow;
}

#wireplumber {
	color: @pink;
}

#wireplumber.muted {
	color: @red;
}

#tray {
	border-radius: 1rem;
}

tooltip {
	background: @base;
	border: 1px dotted @pink;
}

tooltip label {
	color: @text;
}