[Unit]
Description=ElKowars wacky widgets
Documentation=https://elkowar.github.io/eww/
PartOf=graphical-session.target

[Service]
Type=exec
Slice=background-graphical.slice
ExecStart=/usr/bin/eww daemon --no-daemonize
ExecStop=/usr/bin/eww kill
Restart=on-failure
