[Desktop Entry]
Name=Todoist
Comment=Open Todoist in Brave as a standalone app
Exec=/home/magni/.local/bin/custom/todoist.sh
Icon=todoist
Terminal=false
Type=Application
Categories=Network;ToDo;Tasks;
