@import "mocha.css";

* {
	font-family: JetBrainsMono Nerd Font Propo;
	font-size: 14px;
	box-shadow: none;
	border: none;
}

.module {
	/* top - right - bottom - left */
	margin: 5px 1px 0px 1px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 2rem;
	color: @text;
	background-color: @base;
}

#panel,
#startmenu,
#wireless,
#controls {
	margin: 5px 0px 0px 0px;
	padding: 0 4px 0 4px;
	border-radius: 2rem;
	color: @text;
	background-color: @base;
}

#panel .module,
#startmenu .module,
#wireless .module,
#controls .module {
	margin: 0px 0px 0px 0px;
	background-color: transparent;
}

window#waybar {
	background: transparent;
}

#workspaces {
	padding: 0px;
	margin: 5px 0px 0px 0px;
}


#workspaces button {
	color: @subtext0;
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
	background-color: transparent;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: inherit;
}

#workspaces button.active {
	background: none;
	background-color: @surface1;
	color: @mauve;
}

#workspaces button:hover {
	background: inherit;
	background-color: @surface0;
	box-shadow: inherit;
	text-shadow: inherit;
}

#panel {
	margin-right: 5px;
}

#startmenu {
	margin-left: 5px;
}

/* Individual module colors */

#startmenu #custom-archicon {
	color: @lavender;
}

#startmenu #systemd-failed-units {
	color: @red;
}

#idle_inhibitor.activated {
	color: @lavander;
}

#idle_inhibitor.deactivated {
	color: @subtext0;
}

#clock {
	color: @lavender;
}

/*
upower gradient test
#upower{ background: linear-gradient(to right, @blue 50%, @surface0 50%); } 
*/

#upower.charging {
	color: @green;
}

#upower.discharging {
	color: @red;
}

#network {
	color: @flamingo;
}

#backlight {
	color: @yellow;
}

#wireplumber {
	color: @pink;
}

#wireplumber.muted {
	color: @red;
}

tooltip {
	background: @base;
	border: 1px dotted @pink;
}

tooltip label {
	color: @text;
}