// Unsets everything so you can style everything from scratch
* {
  all: unset;
}

// Common
$font_sans: "Kyok Medium";
$font_sans_light: "Kyok Light";
// $font_sans: "Google Sans Medium";
$round_max: 999px;

@import 'colors.scss';
@import 'animations.scss';


@import 'windows/powermenu.scss';

// Global Styles
window {
  background: transparent;
  color: $xfg;
}
