[Desktop Entry]
Name=Typst
Comment=Open Typst webapp
Exec=/home/magni/.local/bin/typst.sh
Icon=typst
Terminal=false
Type=Application
Categories=Office;Publishing;TextEditor;
