[Desktop Entry]
Type=Application
Name=HTTP Toolkit
Exec=waydroid app launch tech.httptoolkit.android.v1
Icon=/home/magni/.local/share/waydroid/data/icons/tech.httptoolkit.android.v1.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:tech.httptoolkit.android.v1
Icon=/home/magni/.local/share/waydroid/data/icons/com.android.settings.png
