[Desktop Entry]
Type=Application
Name=Shop Apotheke
Exec=waydroid app launch shop.shop_apotheke.com.shopapotheke
Icon=/home/magni/.local/share/waydroid/data/icons/shop.shop_apotheke.com.shopapotheke.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:shop.shop_apotheke.com.shopapotheke
Icon=/home/magni/.local/share/waydroid/data/icons/com.android.settings.png
